/* Some basic CSS to have a dark, Computer Theme */

* {
  font-family: "Courier New", Courier, monospace;
}

body.dark-theme {
  background-color: #333;
  color: white;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

textarea,
button {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #444;
  border: none;
  color: white;
}

button {
  cursor: pointer;
  background-color: #007acc;
}

button:hover {
  background-color: #00518d;
}

.banner {
  text-align: center;
  background-color: #222;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.banner img {
  max-width: 100%;
}

/* Style the toggle switch */
.toggle-switch {
  text-align: center;
  margin-top: 20px; /* Adjust as needed */
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #007acc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #007acc;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Style the toggle label */
.toggle-label {
  display: block;
  margin-top: 5px;
  color: white;
}

/* Style the default <a> tag */
a {
  text-decoration: none; /* Remove underline */
  color: #007acc; /* Link color */
  transition: color 0.3s; /* Smooth color transition on hover */
  font-weight: bold; /* Make the text bold */
}

/* Style the <a> tag on hover */
a:hover {
  color: #00518d; /* Change color on hover */
}

/* h2 styling to centre */
h2 {
  text-align: center;
}
